---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if paginator.posts.size > 0 -%}
    <h2 class="post-list-heading">
      {{ page.list_title | default: "Posts" }}
    </h2>

    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>

        {% if post.categories contains "javascript" %}
          <i class="fab fa-js"></i>
        {% elsif post.categories contains "python" %}
          <i class="fab fa-python"></i>
        {% else %}
          <i class="fas fa-box-open"></i>
        {% endif %}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {{ post.content }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

<hr />

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">&lt; Previous</a>
  {% else %}
    <span class="previous">&lt; Previous</span>
  {% endif %}
  •
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  •
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next &gt;</a>
  {% else %}
    <span class="next ">Next &gt;</span>
  {% endif %}
</div>
