---
layout: default
---

<div class="home">
  <h1 class="post-list-heading">
    {{ page.list_title | default: "Posts" }}
  </h1>

  <ul class="post-list">
    {%- for post in paginator.posts -%}
      {% include post_li.html %}
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>

<hr />

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">&lt; Previous</a>
  {% else %}
    <span class="previous">&lt; Previous</span>
  {% endif %}
  •
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  •
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next &gt;</a>
  {% else %}
    <span class="next ">Next &gt;</span>
  {% endif %}
</div>
