---
title: laravel-user-verification
categories: ['php', 'laravel', 'user-verification']
---
## [laravel-user-verification](https://github.com/jrean/laravel-user-verification)

### PHP package built for Laravel 5.* to easily handle a user email verification and validate the email


**This package is Laravel 7.0 compliant.**

| laravel/branch | [2.2](https://github.com/jrean/laravel-user-verification/tree/2.2) | [3.0](https://github.com/jrean/laravel-user-verification/tree/3.0) | [4.1](https://github.com/jrean/laravel-user-verification/tree/4.1) | [5.0](https://github.com/jrean/laravel-user-verification/tree/5.0) | [6.0](https://github.com/jrean/laravel-user-verification/tree/6.0) | [7.0](https://github.com/jrean/laravel-user-verification/tree/7.0) | [8.0](https://github.com/jrean/laravel-user-verification/tree/8.0) | [master](https://github.com/jrean/laravel-user-verification/tree/master) |
|---------|-----|-----|-----|-----|-----|-----|-----|-------|
| 5.0.*   |  x  |     |     |     |     |     |     |       |
| 5.1.*   |  x  |     |     |     |     |     |     |       |
| 5.2.*   |  x  |     |     |     |     |     |     |       |
| 5.3.*   |     |  x  |     |     |     |     |     |       |
| 5.4.*   |     |     |  x  |     |     |     |     |       |
| 5.5.*   |     |     |     |  x  |     |     |     |       |
| 5.6.*   |     |     |     |     |  x  |     |     |       |
| 5.7.*   |     |     |     |     |     |  x  |     |       |
| 5.8.*   |     |     |     |     |     |  x  |     |       |
| 6.0.*   |     |     |     |     |     |     |  x  |       |
| 7.0.*   |     |     |     |     |     |     |     |   x   |
